body {
  background-color: rgba(0, 0, 0, 1);
}

.mainmenu {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: 'DotGothic16', monospace;
}

#character{
  height: 60px;
  width: 60px;
  position: absolute;
}